.thumb {
  width: 100%;
  height: fit-content;
  padding: 20px;
  margin: 10px 20px;
  display: flex;
  background-color: white;
  cursor: pointer;
}
.thumb:hover{
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.thumb > img {
  object-fit: contain;
}
.thumb_description {
  margin-left: 20px;
}
